@page "/Ordenes"
@inject HttpClient Http
@inject NavigationManager Nav
@using ClinicaMedica.Shared.DTOs.Basic
@using ClinicaMedica.Shared.DTOs.Create
@using ClinicaMedica.Shared.ViewModels

<h3>Lista de Ordenes</h3>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Orden</td>
                <td>Paciente</td>
                <td>Medico</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @if (ListaOrdenes != null)
            {
                @foreach (var orden in ListaOrdenes)
                {
                    <tr>
                        <td>@orden.CitaMedicaId</td>
                        <td>@orden.Paciente.Persona.Nombre</td>
                        <td>@orden.MedicoId</td>
                        <td>
                            <a href="ordendetail/@orden.CitaMedicaId" class="btn btn-success"><i class="bi bi-pen-fill"></i></a>
                            <button class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>




@code {

    private List<CitasMedicasDTO> ListaOrdenes = new List<CitasMedicasDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetAsync("api/CitasMedicas");
            if(response.IsSuccessStatusCode)
            {
                var leoDes = await response.Content.ReadFromJsonAsync<List<CitasMedicasDTO>>();
                ListaOrdenes = leoDes;
            }
        }
        catch (Exception)
        {
            
            throw;
        }
    }
}

