@page "/turnos"
@using ClinicaMedica.Shared.DTOs.Basic

@inject HttpClient Http

<div class="container m-2">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-outline-primary" @onclick=OpcionHorarios>Crear Turnos</button>
        </div>
        <div class="col-sm-2">
            <div class="btn btn-outline-secondary" @onclick=OpcionEditar>Editar</div>
        </div>

    </div>
</div>

<div class="container">
    @if (MenuHorarios)
    {
        @if (listaH != null)
        {
            <ClinicaMedica.Client.Components.Horarios ListaHorarios="listaH"></ClinicaMedica.Client.Components.Horarios>
        }
        else
        {
            <h3>Sin horarios para mostrar</h3>
        }
    }

    @if(MenuEditar)
    {
        <ClinicaMedica.Client.Components.Horarios ListaHorarios="listaH"></ClinicaMedica.Client.Components.Horarios>
    }
</div>


@code {
    private List<HorariosDTO> listaH;

    public bool MenuHorarios = false;
    public bool MenuEditar = false;

    protected override async Task OnInitializedAsync()
    {
        MenuHorarios = false;
        MenuEditar = false;

        var response = await Http.GetAsync("api/Horarios");
        if (response.IsSuccessStatusCode)
        {
            listaH = await response.Content.ReadAsAsync<List<HorariosDTO>>();
        }
        else
        {
            Console.WriteLine("Hubo un error en la peticion get");
        }
    }

    public void OpcionHorarios()
    {
        MenuHorarios = !MenuHorarios;
    }

    public void OpcionEditar()
    {
        MenuEditar = !MenuEditar;
    }
}
